*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	list-style: none;
	text-decoration: none;
}
header{
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1000;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 33px 9%;
	background: transparent;
}
.logo{
	font-size: 30px;
	font-weight: 700;
	color: rgb(241, 241, 241);
}
.navlist{
	display: flex;
}
.navlist a{
	color: rgb(255, 255, 255);
	margin-left: 60px;
	font-size: 15px;
	font-weight: 600;
	border-bottom: 2px solid transparent;
	transition: all .55s ease;
}
.navlist a:hover{
	border-bottom: 2px solid rgb(255, 251, 251);
}
#menu-icon{
	color: rgb(8, 8, 8);
	font-size: 35px;
	z-index: 10001;
	cursor: pointer;
	display: none;
}

.hero{
	height: 100%;
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(.59deg, #FFF6BD 0%, #CEEDC7 28.53%, #86C8BC 75.52%);
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 2rem;
}
section{
	padding: 0 19%;
}
.hero-text h5{
	font-size: 14px;
	font-weight: 400;
	color: rgb(7, 7, 7);
	margin-bottom: 40px;
}
.hero-text h1{
	font-family: 'Permanent Marker', cursive;
	font-size: 90px;
	line-height: 1;
	color: rgb(2, 2, 2);
	margin: 0 0 45px;
}
.hero-text h4{
	font-size: 18px;
	font-weight: 600;
	color: rgb(24, 22, 22);
	margin-bottom: 10px;
}
.hero-text p{
	color: rgb(5, 5, 5);
	font-size: 15px;
	line-height: 1.9;
	margin-bottom: 40px;
}
.hero-img img{
	width: 700px;
	height: auto;
}
.hero-text a{
	display: inline-block;
	color: #080808;
	background: #00000000;
	border: 1px solid transparent;
	padding: 12px 20px;
	line-height: 1.4;
	font-size: 14px;
	font-weight: 500;
	border-radius: 30px;
	text-transform: uppercase;
	transition: all .55s ease;
}
.hero-text a:hover{
	background: transparent;
	border: 1px solid rgb(0, 0, 0);
	transform: translateX(8px);
}
.hero-text a.ctaa{
	background: transparent;
	border: 1px solid rgb(10, 10, 10);
	margin-left: 20px;
}
.hero-text a.ctaa i{
	vertical-align: middle;
	margin-right: 5px;
}

.icons{
	position: absolute;
	top: 50%;
	padding: 0 9%;
	transform: translateY(-50%);
}
.icons i{
	display: block;
	margin: 26px 0;
	font-size: 24px;
	color: rgb(0, 0, 0);
	transition: all .50s ease;
}
.icons i:hover{
	color: #1f1b1b;
	transform: translateY(-5px);
}
.scroll-down{
	position: absolute;
	bottom: 6%;
	right: 9%;
}
.scroll-down i{
	display: block;
	padding: 12px;
	font-size: 25px;
	color: rgb(20, 20, 20);
	background: #131212;
	border-radius: 30px;
	transition: all .50s ease;
}
.scroll-down i:hover{
	transform: translateY(-5px);
}

@media (max-width: 1535px){
	header{
		padding: 15px 3%;
		transition: .2s;
	}
	.icons{
		padding: 0 3%;
		transition: .2s;
	}
	.scroll-down{
		right: 3%;
		transition: .2s;
	}
}
@media (max-width: 1460px){
	section{
		padding: 0 12%;
		transition: .2s;
	}
}
@media (max-width: 1340px){
	.hero-img img{
		width: 100%;
		height: auto;
	}
	.hero-text h1{
		font-size: 75px;
		margin: 0 0 30px;
	}
	.hero-text h5{
		margin-bottom: 25px;
	}
}
@media (max-width: 1195px){
	section{
		padding: 0 3%;
		transition: .2s;
	}
	.hero-text{
		padding-top: 115px;
	}
	.hero-img{
		text-align: center;
	}
	.hero-img img{
		width: 560px;
		height: auto;
	}
	.hero{
		height: 100%;
		gap: 1rem;
		grid-template-columns: 1fr;
	}
	.icons{
		display: none;
	}
	.scroll-down{
		display: none;
	}
}

@media (max-width: 990px){
	#menu-icon{
		display: block;
	}
	.navlist{
		position: absolute;
		top: 100%;
		right: -100%;
		width: 300px;
		height: 40vh;
		background: #e7e3e3;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 50px 20px;
		transition: all .55s ease;
	}
	.navlist a{
		margin-left: 0;
		display: block;
		margin: 7px 0;
	}
	.navlist.open{
		right: 0;
	}
}

@media (max-width: 680px){
	.hero-img img{
		width: 100%;
		height: auto;
	}
}